.ol__container {
    flex: auto;
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 99%;
    height: 35vh;
    bottom: 50vh;
    // left: 0px;
    position: absolute;
    overflow: hidden;

    &__top_bar {
        height: 15%;
        background-color: aqua;
        width: 100%;
        display: flex;
        flex-direction: row;

        &__coach1{
            margin: auto;
        }
        &__coach2{
            margin: auto;
        }

        &__phase{
            margin: auto;
        }
    }
}
